header {
  display: flex;
  justify-content: center;
  position: sticky;
  width: 100%;
}

#banner {
  width: 100%;
  height: 100px;
  justify-content: center;
  
}

main {
  display: grid;
  grid-template-rows: 340px 120px 200px;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: center;
}

#A {
  grid-column: 1/2;
  grid-row: 1/4;
}

#B {
  grid-column: 2/3;
  grid-row: 1/2;
}

#C {
  grid-column: 3/4;
  grid-row: 1/2;
}

#D {
  grid-column: 4/5;
  grid-row: 1/2;
}

#E {
  grid-column: 2/5;
  grid-row: 2/3;
}

#F {
  grid-column: 2/5;
  grid-row: 3/4;
}

