#A {
  background-color: bisque;
}

#B {
  background-color: rgb(221, 187, 125);
}

#C {
  background-color: orange;

}

#D {
  background-color: rgb(255, 0, 212);
  
}

#E {
  background-color: red;
  
}

#F {
  background-color: rgb(42, 54, 165);
  
}

header {
  background-color: aqua;
}

#banner {
  background-color: rgba(255, 0, 0, 0.178);
}